@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100..900&display=swap');

@font-face {
    font-family: 'Maehongson';
    src: url('font/PK\ Maehongson\ Medium.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

/* สไตล์สำหรับหน้าจอแท็บเล็ต */
@media (max-width: 768px) {
    body {
        font-size: 11px;
    }
}

/* สไตล์สำหรับหน้าจอโทรศัพท์มือถือ */
@media (max-width: 480px) {
    body {
        font-size: 9px;
    }
}

.headbar {
    /* main headbar */
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 90;
}

.menubar {
    /* top menubar in homepage */
    display: flex;
    position: relative;
    float: right;
    margin-right: 250px;
    margin-top: 20px;
}

.menubar-event {
    /* top menubar in eventspage */
    display: flex;
    position: relative;
    float: right;
    margin-right: 265px;
    margin-top: 20px;
}

#signin-btn {
    position: absolute;
    font-family: "Kanit";
    font-weight: 550;
    right: 0;
    text-align: right;
    margin-top: 22px;
    margin-right: 25px;
    background-color: #f8be00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@keyframes hoverEffect {

    /* signin-btn effect keyframe */
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#signin-btn:hover {
    /* signin-btn effect */
    animation: hoverEffect 0.5s forwards;
}

#dbtlogo {
    /* major logo */
    float: inline-start;
    width: 75px;
    margin-left: 30px;
    margin-top: 8px;
}

.logobutton {
    cursor: pointer;
}

.toptext {
    /* main topic */
    font-family: "Maehongson", serif;
    color: rgb(110, 0, 110);
    float: inline-start;
    font-size: 47px;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin-left: 18px;
    margin-top: 21px;
}

#input-event-btn {
    position: absolute;
    font-family: "Maehongson", serif;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: -1.5px;
    background-color: #f8be00;
    color: white;
    border: #4e4e4e;
    margin-top: 120px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 18px;
    cursor: pointer;
}

.slideshowbox {
    /* homepage events image slideshow box */
    top: 0;
    max-width: 100%;
    margin-top: 90px;
    overflow: hidden;
}

.slide {
    /* homepage events image slide */
    position: absolute;
    margin-top: 8px;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    /* ซ่อนภาพเริ่มต้น */
    transition: opacity 1s ease-in-out;
    /* เพิ่ม transition สำหรับการเปลี่ยนแปลง opacity */
}

.slide img {
    /* homepage events image slideshow */
    width: 100%;
    height: 500px;
    top: 0;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* ให้ภาพเติมเต็มพื้นที่ */
}

/* ตั้งค่าเบื้องต้นสำหรับ Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    font-family: "Maehongson";
    font-size: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: left;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* ส่วนแสดงข้อมูลกิจกรรม */
#activityList {
    position: absolute;
    margin-top: 150px;
}

.activity-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    font-family: "Noto Sans Thai", light;
    font-size: 20px;
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bold;
    display: block;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
